{% extends "base.html.twig" %}
{% block body %}
    <div style="border: 1px black;">
        <h2 style="text-align: center">List of users</h2><br>
        <table style="width: 75%; margin: auto">
            <tr>
                <th style="border-bottom: 1px solid grey; padding: 10px">Id</th>
                <th style="border-bottom: 1px solid grey; padding: 10px">First name</th>
                <th style="border-bottom: 1px solid grey; padding: 10px">Last name</th>
                <th style="border-bottom: 1px solid grey; padding: 10px">Email address</th>
                <th style="border-bottom: 1px solid grey; padding: 10px">Phone number</th>
                <th style="border-bottom: 1px solid grey; padding: 10px">Role</th>
                <th style="border-bottom: 1px solid grey; padding: 10px"></th>
                <th style="border-bottom: 1px solid grey; padding: 10px"></th>
            </tr>

            {% for user in users %}
                <tr>
                    <td style="border-left: 1px grey solid; padding: 5px">{{ user.id }}</td>
                    <td style="border-left: 1px grey solid; padding: 5px">{{ user.firstName }}</td>
                    <td style="border-left: 1px grey solid; padding: 5px">{{ user.lastName }}</td>
                    <td style="border-left: 1px grey solid; padding: 5px">{{ user.email }}</td>
                    <td style="border-left: 1px grey solid; padding: 5px">{{ user.phoneNumber }}</td>
                    <td style="border-left: 1px grey solid; padding: 5px">
                        {% for roles in user.roles %}
                            {{ roles }}
                        {% endfor %}
                    </td>
                    <td>
                        <button style="background-color: #353535; border: #353535; padding: 10px; font-size: 16px; font-weight: bold">
                                <a href="{{ path('user_update', { 'id': user.id }) }}" style="color: grey; text-decoration: none">Edit</a>
                        </button>
                    </td>
                    <td>
                        <button style="color: grey; background-color: #353535; border: #353535; padding: 10px; font-size: 16px; font-weight: bold">
                            <a href="{{ path('user_delete', { 'id': user.id }) }}" style="color: grey; text-decoration: none">Delete</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="text-align: center; margin: 20px">
        <button style="color: grey; background-color: #353535; border: #353535; padding: 10px; font-size: 18px; font-weight: bold">
            <a href="{{ path('user_create') }}" style="color: grey; text-decoration: none">Add user</a>
        </button>
    </div>

    <div style="text-align: center; margin: 20px">
        <button {% if currentPage == 1 %} style="display: none" {% endif %} style="color: grey; background-color: #353535; border: #353535; padding: 10px; font-size: 18px; font-weight: bold">
            <a href="http://internship.local/admin/user?page={{currentPage - 1}}" style="color: grey; text-decoration: none">Previous page</a>
        </button>
        <button {% if currentPage == noPages %} style="display: none" {% endif %} style="color: grey; background-color: #353535; border: #353535; padding: 10px; font-size: 18px; font-weight: bold">
            <a href="http://internship.local/admin/user?page={{currentPage + 1}}" style="color: grey; text-decoration: none">Next page</a>
        </button>
    </div>
{% endblock %}
