<!DOCTYPE html>
<html style="background-color: #AAAAAA">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gym app{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>
    <body>
        {% block navbar %}
            <div style="font-weight: bold; padding-bottom: 40px">
                {% if is_granted('ROLE_ADMIN') %}
                    <a style="float: left; padding: 12px; background-color: #353535; text-decoration: none; color: grey" href="{{ path('admin_dashboard') }}">Home</a>
                    <a style="float: left; padding: 12px; background-color: #353535; text-decoration: none; color: grey" href="{{ path('admin_dashboard') }}">My account</a>
                    <a style="float: left; padding: 12px; background-color: #353535; text-decoration: none; color: grey" href="{{ path('admin_programme') }}">Programmes</a>
                    <a style="float: left; padding: 12px; background-color: #353535; text-decoration: none; color: grey" href="{{ path('admin_user') }}">Users</a>
                    <a style="float: left; padding: 12px; background-color: #353535; text-decoration: none; color: grey" href="{{ path('busy_day') }}">Busy days</a>
                    <a style="float: right; padding: 12px; background-color: #353535; text-decoration: none; color: grey" href="{{ path('admin_logout') }}">Logout</a>
                {% endif %}
            </div>
        {% endblock %}

        {% for message in app.flashes('success') %}
            <h3 style="color: green; font-weight: bold; text-align: center">
                {{ message }}
            </h3>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <h3 style="color: red; font-weight: bold; text-align: center">
                {{ message }}
            </h3>
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
